<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- include seo.html -%}

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family={{ site.font.font_name }}:wght@400;700&display=swap" rel="stylesheet">
    <script src="{{ '/assets/app.js' | relative_url }}"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>