---
layout: default
---

<div class="container mx-auto px-2 py-4">
    <header class="py-2 w-full md:w-4/5 mx-auto">
        <h1 class="text-2xl text-gray-700 border-b border-gray-700 pb-1 text-center">{{ page.title | escape }}</h1>
    </header>

    <section class="mx-auto w-full md:w-4/5 lg:w-3/5 p-4">
        <section class="flex justify-center items-center py-5 mb-6">
            {% if site.social.scholar %}
            <a href="{{ site.social.scholar }}" class="mx-3 text-gray-700 hover:text-gray-800"><i class="flex-grow fab fa-lg fa-fw fa-google"></i></a>
            {% endif %}
            {% if site.social.researchgate %}
            <a href="{{ site.social.researchgate }}" class="mx-3 text-gray-700 hover:text-gray-800"><i class="flex-grow fab fa-lg fa-fw fa-researchgate"></i></a>
            {% endif %}
            {% if site.social.linkedin %}
            <a href="{{ site.social.linkedin }}" class="mx-3 text-gray-700 hover:text-gray-800"><i class="flex-grow fab fa-lg fa-fw fa-linkedin-in"></i></a>
            {% endif %}
            {% if site.social.twitter %}
            <a href="{{ site.social.twitter }}" class="mx-3 text-gray-700 hover:text-gray-800"><i class="flex-grow fab fa-lg fa-fw fa-twitter"></i></a>
            {% endif %}
            {% if site.email %}
            <a href="mailto:{{ site.email }}" class="mx-3 text-gray-700 hover:text-gray-800"><i class="flex-grow fa fa-lg fa-fw fa-envelope"></i></a>
            {% endif %}
        </section>
        <form method="POST" name="contact_form" data-netlify="true" id="contact_form">
            <div class="mb-6">
                <div class="form_input">
                    <label for="name">Your name</label>
                    <input type="text" id="name" name="name" placeholder="Enter your name" x-model="name.value" data-val-rules="required|min_length[3]">
                </div>
            </div>

            <div class="mb-6">
                <div class="form_input">
                    <label for="email">Your email</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" x-model="email.value" data-val-rules="required|valid_email">
                </div>
            </div>

            <div class="">
                <div class="form_input">
                    <label for="message">Your message</label>
                    <textarea id="message" rows="5" name="message" placeholder="Enter your message" x-model="message.value" data-val-rules="required|min_length[3]"></textarea>
                </div>
            </div>

            <div class="mt-6 text-right">
                <button type="submit" class="bg-green-400 text-white border-green-400 shadow hover:text-white hover:bg-green-500 px-8 py-3 uppercase">Send</button>
            </div>
        </form>
    </section>
</div>

<script>
    window.valForm.init({
        formId: "contact_form",
        validationErrorClass: "error",
        validationValidClass: "valid",
        appendAfter: "form_input"
    });
</script>